@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600&family=Montserrat:wght@300;600&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  /* transition: all 1s ease-in; */
}

p {
  font-size: larger;
}

h1,
h2 {
  margin: 0%;
}

html,
body {
  overflow-x: hidden;
}

b {
  color: #ec4257;
}

body {
  position: relative;
  margin: -0.001px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: "1.2rem";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
